*{
	/*box-shadow:inset 0 0 0 1px #fff;*/
}
*::-webkit-scrollbar{
  width:8px;
}
*::-webkit-scrollbar-thumb{
  background-color:#000;
}
a{
	color:unset;
	text-decoration:initial;
}
body{
	margin:0;
	font-family:'Ubuntu',sans-serif;
	color:#ccc;
}
#page{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	background:#7e4552;
}
#page.active{
	background:#7e4552 url("https://cdn.rawgit.com/KiwiNotKiwi/files/master/img/flicker.gif");
}
nav{
	flex:0 0 140px;
	background:#26292c;
	overflow:hidden;
	transition:250ms ease;
	z-index:1;
}
nav .wrapper{
	display:flex;
	flex-direction:column;
}
nav .sec{
	padding:4px;
}
nav .sec:nth-child(odd){
	/*background:#26292c;*/
}
nav .sec:nth-child(even	){
	background:#292c2f;
	box-shadow:0 0 4px 0 rgba(0,0,0,.4);
}
nav .sec .upper{
	font-weight:500;
	font-size:1.1rem;
	padding:4px 4px 2px 4px;
}
nav .sec .lower{
	display:flex;
	flex-direction:column;
}
nav .sec .lower span{
	display:table;
	padding:0 4px 4px 4px;
	margin-left:14px;
	position:relative;
	font-weight:100;
}
nav .sec .lower span a:after{
	content:"";
	position:absolute;
	top:100%;
	left:4px;
	width:0;
	height:1px;
	background:#ccc;
	transition:200ms ease;
}
nav .sec .lower span:hover a:after{
	width:calc(100% - 8px);
}
nav .sec .lower>span+span{
	padding:4px;
}
main{
	display:flex;
	flex:1;
	overflow:hidden;
}
main .wrapper{
	flex:1;
	overflow-y:auto;
	flex-direction:column;
	transition:200ms width ease;
}
main .wrapper>*{
	display:flex;
}


#seizure{
	position:absolute;
	bottom:12px;
	right:12px;
	width:60px;
	height:28px;
	background:#282A2E;
	transition:200ms ease;
	cursor:pointer;
	border-radius:50px;
}
#seizure.active{
	width:32px;
}
#seizure span{
	position:absolute;
	width:24px;
	height:20px;
	top:0;
	bottom:0;
	left:4px;
	margin:auto 0;
	background:#fff;
	border-radius:50px;
	transition:200ms ease;
}
#seizure span:after{
	content:"";
	position:absolute;
	top:5px;
	left:10px;
	width:3px;
	height:6px;
	border:solid #000;
	border-width:0 2px 2px 0;
	transform:rotate(45deg) scale(0);
	transition:200ms ease;
	pointer-events:none;
}
#seizure.active span:after{
	transform:rotate(45deg) scale(1.2);
	transition:200ms ease 200ms;
}
#sitenav{
	position:absolute;
	top:6px;
	left:-100%;
	width:46px;
	height:46px;
	border-radius:50%;
	transition:250ms ease;
}
#sitenav.active{
	background:#282A2E;
	border-radius:50% 50% 0 0;
}
#sitenav span{
	position:absolute;
	top:5%;
	bottom:5%;
	left:5%;
	right:5%;
	background:#242424 url("req/ref/meme.svg") no-repeat center / 80%;
	border-radius:50%;
	box-shadow:inset 0 0 0 1px #000, 0 0 0 3px #bbb;
	transition:200ms ease;
}
#sitenav.active span{
	box-shadow:inset 0 0 100px 0 rgba(0,0,0,.1);
}
@media only screen and (max-width: 620px){
	#sitenav{
		left:6px;
	}
	nav{
		position:absolute;
		top:52px;
		background:#282A2E;
		left:-100%;
	}
	nav.active{
		left:6px;
	}
	nav .wrapper{
		
	}
	main{
		width:100%;
	}
}
