main .scroller {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
main section {
  position: relative;
  margin-right: 2vw;
  margin-bottom: 2vw;
  display: flex;
  width: calc(350px - 2vw);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 0 10px 6px;
  border: 0.15rem solid black;
  will-change: transform, box-shadow;
  overflow: hidden;
  box-sizing: border-box;
  transition: 150ms transform ease-out, 150ms -webkit-transform ease-out,
    150ms box-shadow ease-out;
  box-shadow: 4px 4px 0 0 #16161d;
}
main section:hover {
  transform: translate(0.25em, 0.25em);
  box-shadow: 0 0px 0 0 #16161d;
}
main section header {
  position: absolute;
  top: -22px;
  padding: 2px 5px;
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 22px;
  border-radius: 0 0 3px 3px;
  will-change:top;
  transition:150ms top ease-out;
  z-index: 1;
  white-space:nowrap;
}
main section article {
  flex: 1;
  user-select: none;
  transition: transform 0.25s ease, margin-bottom 0.25s ease;
}
main section footer {
  width: 100%;
}
main section footer > span {
  display: flex;
}
main section a{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
main section a:hover{
  color:rgb(0,148,148);
}
main section footer > span:first-child {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0,128,128);
}
main section footer > span:nth-child(2) {
  color: #fff;
  padding:4px 0;
}
main section footer > span:last-child {
  color: #bbb;
  user-select: none;
}
@media only screen and (max-width: 620px) {
  main .scroller{
    justify-content:center;
  }
}
